*{
    font-family: 'Varela Round', sans-serif;
}

.middle{
    text-align: center
}

#head-color{
    color : white
}

body{
  background-color: #374b5e;
}

.severalbox{
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.severalbox2{
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.first-col, .second-col, .third-col, .fourth-col{
  width : 20%;
  height: 200px;
  margin:  10px;
  border: 5px solid white;
  border-radius: 25px;
  background-color: #dc8c61;
  text-align: center;
  
}

.flex{
  display: flex;
  justify-content: space-around;

}

/* .topic-container label{
  padding-inline-end: 0%;
} */


.topic{
  flex: 1;
  padding-top: 10px;
  padding-left: 60px;
  padding-block-end: 10px;
  text-align: center;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: transparent;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /* position: fixed; */
    width: 150px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 35%;
    right: 30%;
    left : 30%;
    border: 3px solid #360b68;
    /* border-radius: px; */
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 1000px;
    padding: 10px;
    background-color: white;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  .form-container .close {
    background-color: transparent;
    position: relative;
    /* cursor: pointer; */
    margin: 3px;
    /* position: absolute; */
  }

  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
  }
  .form-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
  }
  .form-container:hover label{
    opacity: 1;
  }


  .close-container{
    background-color: transparent;
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    cursor: pointer;
  }




  
  .leftright{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label{
    color: red;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: 20px;
    transition: all .3s ease-in;
    opacity: 0;
  }
  .close{
    position: absolute;
  }

  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
  }
  .close-container:hover label{
    opacity: 1;
  }