*{
    font-family: 'Varela Round', sans-serif;
}

h1{
    color : white;
    text-align: center;
  }

body{
  background-color: #536d82;
}

.severalbox{
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.first-col {
  width : 20%;
  height: 200px;
  margin:  2%;
  border: 5px solid white;
  border-radius: 25px;
  background-color: #dc8c61;
  display: flex;
  justify-content: center;
  
}


.flex{
  display: flex;
  justify-content: space-around;

}

.topic{
  flex: 1;
  padding-top: 10px;
  padding-left: 40px;
  text-align: center;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: transparent;
    color: white;
    font-size: xx-large;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 150px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 35%;
    right: 35%;
    left : 35%;
    width: 400px;
    z-index: 9;
    color: #374b5e;
    font-size: x-large;
    font-weight: bold;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 1000px;
    height: 100%;
    background-color: white;
    border: 5px solid;
    border-radius: 20px;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #374b5e;
    color: white;
    font-weight: bolder;
    padding: 16px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 40%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */

  .form-container .close {
    background-color: transparent;
    position: relative;
    margin: 3px;
  }

  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .form-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
  }
  .form-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
  }
  .form-container:hover label{
    opacity: 1;
  }
  
  .leftright{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #F4A259;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
