* {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #374b5e 50%, #536d82 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.block {
    display: flex;
    justify-content: center;
}


.home {
    text-align: center;
    width: 70%;
    border: 5px solid white;
    border-radius: 20px;
    background-color: #dc8c61f3;
    margin-top: 10%;
    padding-top: 20px;
}


.description {
    margin: 20px 70px 20px 70px ;
    padding: 30px;
}


.log{
    margin-bottom: 20px;
}

.login-basic  {
    background-color: #536d82;
    border-color: #be8a59;
}

.login-basic:hover {
    background-color: #7e5b3b;
    border-color: #7e5b3b;
}


.signin {
    border-radius: 20px;
    margin: 0px 5px 0px 5px;
    font-size: 15px;
}

.google{
    width: auto;
    height: 25px;
    margin-right: 10px;
}

