* {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
}

body {
    background-color: #d7a46f;
}


.block {
    display: flex;
    justify-content: center;
}


.home {
    text-align: center;
    width: 70%;
    border: 5px solid white;
    border-radius: 20px;
    background-color: #5f9b9e;
    margin-top: 10%;
    padding-top: 20px;
}


.description {
    margin: 20px 70px 20px 70px ;
    padding: 30px;
}


.log{
    margin-bottom: 20px;
}

.signin {
    border-radius: 20px;
}

.google{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

