* {
  font-family: 'Varela Round', sans-serif;
  color: #072525;
}

body {
  font-family: 'Varela Round', sans-serif;
  background-color: #5f9b9e;  
}

.round2 {
border-radius: 8px;
}

.box_word {
background-color: grey;
margin-right: 25%;
margin-left: 25%;
text-align: center;
width: 500px;
height: 300px;
padding: 125px;
border-radius: 8px;

}


/* new version */
.play-container {
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.score{
  margin-bottom:20px;
}
.time{
  margin-top:20px;
  /* padding:25px;
  height:50px; */
}

.button{
  margin: 50px;
}