* {
    font-family: 'Varela Round', sans-serif;
    color: rgb(255, 255, 255);

  }
  
  body {
    background-color: #536d82;  
  }
  
  .summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }