* {
  font-family: 'Varela Round', sans-serif;
  color: rgb(255, 255, 255);

}

body {
  background-color: #536d82;
}

.summary-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  height: 120px;
  width: 505px;
  background-color: #D98824;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.topic {
  margin-top: 15px;
}

table {
  border: 2px solid black
}

.tableBodyScroll tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.tableBodyScroll thead,
tbody tr {
  display: table;
  width: 500px;
  table-layout: fixed;
}

table {
  width: 500px;
}

th,
td {
  height: 50px;
}

th {
  color: black;
}

thead {
  background-color: orange;
}

tbody {
  background-color: white;
}

.button {
  width: 130px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 20px;
  color: black;
  font-size: 20px;
  border: 5px solid wheat;
}

.button_again {}

.menu-button {
  height: 100px;
  padding-top: 20px;
  background-color: #D98824;
  display: flex;
  width: 505px;
  justify-content: space-around;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}