<!DOCTYPE html>
<html lang="en">
        {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> League of saras</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">


</head>
    <h1 class = "middle" id = "head-color"> League of Saras</h1>
<body id = "bg-color">
    <div class="severalbox">
        <div class="first-col" id = "rcorner">
            <button class="open-button" onclick="openForm()">Each topic</button>
            <div class="form-popup" id = "myForm">
                <form action="" class = "form-container">
                    <h1>Each topic</h1>
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                </form>
            </div>
        </div>
                
        <div class="second-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
        <div class="third-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
        <div class="fourth-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
    </div>
    
    <div class="severalbox2">
        <div class="first-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
        <div class="second-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
        <div class="third-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
        <div class="fourth-col" id="rcorner">
                <button class="open-button" onclick="openForm()">Each topic</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <h1>Each topic</h1>
    
                        <button type = "button" class= "btn"> Scoreboard</button>
                        <button type = "button" class= "btn"> Play</button>
                        <button type = "button" class= "btn cancel" onclick="closeForm()"> Close </button>
                    </form>
                </div>
        </div>
    </div>


    <script src="{% static 'js/home.js'%}"></script>

    
</body>
</html>