<!DOCTYPE html>
<html lang="en">
        {% load static %}
      
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> League of saras</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">


</head>
    <h1 class = "middle" id = "head-color"> League of Saras</h1>
<body>
    <div class="severalbox">
        {% for deck in deck_list %}
        <div class="first-col">
            <button class="open-button" onclick="openForm()">{{ deck.deck_name}}</button>
                <div class="form-popup" id = "myForm">
                    <form action="" class = "form-container">
                        <div class="flex">
                            <div class="topic">League of Saras</div>
                            <!-- <label for="close-btn"> -->
                                <div class="close-container">
                                    <div class="leftright"></div>
                                    <div class="rightleft"></div>
                                    <!-- <label class="close"> -->
                                    <button type = "button"  id="close-btn"  class= "btn close" onclick="closeForm()"></button>
                                    <!-- </label> -->
                                </div>
                            <!-- </label> -->
                        </div>
                        <div class="flex">
                            <button type = "button" class= "btn"> Scoreboard</button>
                            <button type = "button" class= "btn"> Play</button>
                        </div>
                        </form>
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="{% static 'js/home.js'%}"></script>

    
</body>
</html>