<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setting</title>
</head>

{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/setting.css'%}">

<body>

    <div class="container">
        <br />
        <h1 class="text-center">Setting</h1>
        <br/>
        <br/>
        <br/>
    </div>

    <div style="background-color: grey;border-radius: 8px;" class="box">
        <table class="table table-borderless container">
            <tr><br/>
                <td><h2 align="left">Time Duration</h2></td>
                <td>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option1" autocomplete="off"> 45
                        </label>
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option2" autocomplete="off" checked> 60
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option3" autocomplete="off"> 90
                        </label>
                    </div>
                </td>
            <tr>
                <td><h2 align="left" text>Sound</h2></td>
                <td><h2 align="left">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label></h2>
                <br/></td>
            </tr>
        </table>
    </div>

    <br/><br/><br/><br/>

    <div class="play_button text-center">
        <button type="button" class="btn btn-warning btn-lg">Menu</button>
        <button type="button" class="btn btn-success btn-lg">Play a game</button>
    </div>

</body>
</html>